{% extends 'polls/base.html' %} 
{% load crispy_forms_tags %} 
{% load static %}
{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom md-4">Create polls</legend>
      {{form.media}} {{form|crispy}}
      <div class="table-responsive">
        <table class="table table-striped">
          {{ questions.management_form }}
          {% for form in questions.forms %}
            {% if forloop.first %}
                <thead>
                  <tr>
                      {% for field in form.visible_fields %}
                          <th>{{ field.label|capfirst }}</th>
                      {% endfor %}
                  </tr>
                </thead>
            {% endif %}
            <tr class="{% cycle row1 row2 %} formset_row">
              {% for field in form.visible_fields %}
                <td>
                  {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                    {% endfor %}
                  {% endif %}
                  {{ field.errors.as_ul }}
                  {{ field }}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div>
    </fieldset>
    <p class="table-danger">Please, Intialize votes to 0.</p>
    <div class="form-group">
      <button class="btn btn-success">Create</button>
    </div>
  </form>
</div>
{% endblock content %}

{% block javascript %}

  <script src="{% static 'formset/jquery.formset.js' %}"></script>
  <script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Add choices to vote',
        deleteText: 'remove',
        prefix: 'choice_set'
    });
  </script>
  
{% endblock javascript %}